body {
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 61, 139);
}

#cores {
    display: flex;
    flex-direction: column;
    margin-right: 1pc;
}

#matriz {
    border: 1px solid #000;
    width: 47vb;
    height: 25vb;
    margin-bottom: 5px;
}

#line {
    border: 1px solid #000;
    width: 47vb;
    height: 5vb;
}

#selecao {
    border: 1px solid #000;
    width: 30vb;
    height: 25vb;
    margin-bottom: 3px;
}